<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:usesCleartextTraffic">
        <!-- Debug-only: allow adb to launch Camera Kit PoC for verification. Release keeps exported=false. -->
        <activity
            android:name=".camerakit.CameraKitTestActivity"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />
    </application>
</manifest>
