node_modules/
.expo/
dist/
android/.gradle/
android/app/build/
android/build/
android/.cxx/
ios/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
npm-debug.*
.DS_Store
apk/
modules/**/android/build/
modules/**/build/
